<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>404</title>
        <style>
            body{ background: skyblue; font-family: Verdana; color: #fff; padding: 30px; }
            h1{ font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center; }
            p{ font-size:  16px; text-align: center; }
        </style>
    </head>
    <body>
        <h1>Welcome to my ERROR</h1>
        <p>I want to do</p>
    </body>
</html>