<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File HTML nhe</title>
    <link rel="stylesheet" href="css/style.css"> 
</head>

<body>
    <% include partials/navbar.ejs %>
    <h1>Welcome to my website</h1>
    <p>I want to do CONTACT</p>
    <form action="" id="contact-form">
        <label for="who"> </label>
    </form>
    <%%>
</body>

</html>